<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Product</h2>
                <form action="/admin/edit-product/{{product._id}}" method="post">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" id="Name" value="{{product.Name}}"  onkeyup="validateName()">
                      <span id="nameerr" class="text-danger"></span>
                    <label for="">Category</label>
                    <input type="text" name="category" class="form-control" id="category" value="{{product.category}}" onkeyup="validateCategory()">
                    <span id="categoryy" class="text-danger"></span>
                    <label for="">Price</label>
                    <input type="text" name="price" class="form-control" id="price" value="{{product.price}}" >
                   <span id="priceee" class="text-danger"></span>
                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control" id="Description" value="{{product.Description}}" >
                    <span id="discription" class="text-danger"></span>
                    <label for="">Image</label>
                    <img src="/productimages/{{product._id}}.jpg" alt="" style="width:100px ;height:auto" id="imgView"
                        class="pt-3">
                    <input type="file" name="Image" class="form-control" required onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4" onclick="return validation()">submit
                      
                    </button>


                </form>
            </div>

        </div>
    </div>
</section>
<script defer src="https://cdn.crop.guide/loader/l.js?c=GVVLNV"></script>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>
<script>
    var errorName = document.getElementById('nameerr')
    var errorcategory = document.getElementById('categoryy')
    var errorprice = document.getElementById('priceee')
    var errorDiscription=document.getElementById('discription')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorName.innerHTML = 'Alphanets are only allowed'
            return false
        }
        errorName.innerHTML = null
        return true

    }
    function validateCategory() {
        const name = document.getElementById('category').value;
        if (name == "") {
           errorcategory.innerHTML = 'Enter your category'
            return false
        }
        if (!name.match(/^[a-zA-Z]*$/)) {
            errorcategory.innerHTML = 'Alphanets are only allowed'
            return false
        }
        errorName.innerHTML = null
        return true

    }

   

    function validation() {
        if (!validateName() || !validateCategory() || !validateDiscription() || !validPrice()) {
            return false
        }
        return true
    }
</script>