<section class="h-100 gradient-custom">
  <!-- Navbar -->

  <!--Main layout-->
  <main class=" pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">



          <!--Card-->
          <div class="card p-1">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal"
              data-whatever="@mdo" style="background: #fff;border: radius 5px; color:#fff;background-color: rgb(50, 38, 38);max-width: 175px;">Add Address</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/address-view" method="post">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter name">

                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Phone no:</label>
                        <input type="number" class="form-control" name="number" placeholder="Enter PhoneNo:">

                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="Email"
                          aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                          anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1"> Address</label>
                        <input type="text" class="form-control" name="address" placeholder="Enter Address">

                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter city">

                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Pincode</label>
                        <input type="pincode" class="form-control" name="pincode" placeholder="Password">
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>

                    </form>
                  </div>

                </div>
              </div>
            </div>

            <!--Card content-->
            <form class="card-body" id="checkout-form" method="post" style="height:500px;" >




              {{!-- <div class="row mt-4">
                <a href="/address-view" class="btn btn-success ml-auto mb-5 col-2">Add Address</a>
              </div> --}}



              {{!-- <div class="">
                <input class="form-check-input" type="radio" name="checkoutAddress"
                  onclick="selectAddress('{{this._id}}')">
              </div> --}}
              
              <div class="card-body shadow-lg p-3 mb-5 bg-white rounded " style="height: 450px; overflow:auto;">
                {{#each user.address}}

                
                  <input  style="margin-left:1px;" type="radio" name="checkoutAddress"
                    onclick="selectAddress('{{@index}}')">

                <br>


                <p class="card-text">{{this.name}}</p>
                <p class="card-text">{{this.number}}</p>
                <p class="card-text">{{this.Email}}</p>
                <p class="card-text">{{this.address}}</p>
                <p class="card-text">{{this.city}}</p>
                <p class="card-text">{{this.pincode}}</p>

                <hr>

                {{/each}}

              </div>
              <hr>



          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->

          <div class="input-group">

            <div class="input-group-append">
              {{!-- <buttonclass="btn_1 col-sm-6" style="background: #bcd4eb;padding: 10px 124px;">Add address</button>
                --}}






            </div>
          </div>
          <br>


          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-2">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Amount</h6>
                {{!-- <small class="text-muted">Brief description</small> --}}
              </div>
              {{!-- <span class="text-muted">$12</span> --}}
            </li>
            {{!-- <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li> --}}
            {{!-- <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Total Amount</h6>
                <small class="text-muted">Brief description</small>
              </div>
           
            </li> --}}
            {{!-- <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li> --}}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total </span>
              <strong>  Rs:<span class="text-muted">{{total}}</span></strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          <div style="background-color:white;">
          <div  class="text-center ">

            <h6 class="pt-3" >PAYMENT METHODS</h6>
          </div>


          <hr>

          <div class="d-block my-3 pl-3" >
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                onclick="selectPayment('COD')" checked required>
              <label class="custom-control-label" for="credit">COD</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                onclick="selectPayment('RAZORPAY')" required>
              <label class="custom-control-label" for="debit">Razor-Pay</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input"
                onclick="selectPayment('PAYPAL')" required>
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" style="background-color:rgb(50, 38, 38);" type="submit"
            onclick="placeOrder()">PLACE ORDER</button>
            </div>

          </form>

          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
</section>
<!--Footer-->
<!--/.Footer-->
<script>
  new WOW().init();
</script>
<style>
  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(210 199 223), rgb(180, 187, 199));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(210 199 223), rgb(180, 187, 199))
  }
</style>

<script>
  var checkoutAddressId;
  var PaymentMethod;
  function selectAddress(id) {


    checkoutAddressId = id;
  }
  function selectPayment(payment) {

    PaymentMethod = payment;
  }

  function placeOrder() {
    $("#checkout-form").submit((e) => {
      e.preventDefault()

      if (!checkoutAddressId && PaymentMethod) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Please Select address to Place Order",
        });
      } else if (!PaymentMethod && checkoutAddressId) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Please Select payment method to Place Order",
        });
      }
      else if (!checkoutAddressId && !PaymentMethod) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Please give address and payment method",
        });
      } else {
        $.ajax({
          url: '/place-order',
          method: 'post',
          data: {
            addressid: checkoutAddressId,
            paymentmethod: PaymentMethod
          },
          success: (response) => {


            console.log(response)
            if (response.codSuccess) {
              location.href = "/check-out"
            } else if (response.status == 'RAZORPAY') {

              razorpayPayment(response)
            } else {
              for (let i = 0; i < response.links.length; i++) {
                if (response.links[i].rel === 'approval_url') {
                  location.href = response.links[i].href;
                }
              }
            }

          }
        })
      }
    })
    function razorpayPayment(order) {

      var options = {
        "key": "rzp_test_lylIusv0TH5GDr", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Watch Shop",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {


          verifyPayment(response, order)
        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9999999999"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }
    function verifyPayment(payment, order) {

      $.ajax({
        url: '/verify-payment',
        data: {
          payment,
          order

        },
        method: "post",
        success: (response) => {
          if (response.status) {
            location.href = "/check-out"
          } else {
            alert("payment-failed")
          }
        }
      })
    }
  }
</script>