<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      {{#if products}}
      <div class="col-md-8">
        
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart</h5>
          </div>
          {{#each singleAmount}}
          

          <div class="card-body">
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                 <img src="/productimages/{{this.product.images.[0]}}"
                    class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 mt-4">
                <!-- Data -->
                <p><strong><p>{{this.product.Name}}</p></strong></p>
                <p>Rs.{{this.product.offerPrices}}</p>
               <a   onclick="removeItem('{{this._id}}','{{this.product._id}}')">  <i class="fas fa-trash" style="color:brown;"></i></a>
                {{!-- <button type="button"  style="background-color:#fbfbfb;padding:12px 12px" data-mdb-toggle="tooltip"
                  title="Remove item"  onclick="removeItem('{{this._id}}','{{this.product._id}}')"> --}}
                
                 
                {{!-- </button> --}}
                {{!-- <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fas fa-heart"></i>
                </button> --}}
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                      <div class="mt-5">
                        <label>Quantity</label>

          <button style="color: black;" class="cart-item-count mr-3"
            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}','{{this.product.Name}}',{{this.product.offerPrices}},-1)">-</button>
          <span id="{{this.product._id}}">{{this.quantity}}</span>
          <button style="color:black ;" class="cart-item-count mr-3"
            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}','{{this.product.Name}}',{{this.product.offerPrices}},1)">+</button>
        </div>
                </div>
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-center pr-5">
                  <strong>Total Rs:<span id="{{this.product.Name}}">{{this.total}}</span></strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->

            <hr class="my-4" />

            <!-- Single item -->
            
            <!-- Single item -->
          </div>
          {{/each}}
        </div>
        
        <div class="card mb-4">
          
        </div>
        
      </div>
    
  

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              
           
              
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Coupon Offer
                <span>{{this.products.[0].offer}}%</span>
              </li> 
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Discount Price
                <span class="text-success">{{calculation}}</span>
              </li> 
              
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  {{!-- <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong> --}}
                </div>
                {{#if products}}
                <span><strong><span id='total'>{{totalValue}}</span></strong></span>
                {{/if}}
              </li>
            </ul>
  {{#if products}}
            <a class="btn_1" href="/place-order">Go to checkout</a>
             {{/if}}


            </button>
          </div>

          
        </div>

        

       
        
          <div class="card-header py-3" style="background-color:white;">
            <h5 class="mb-0" style="color:blue;">Coupon</h5>
          </div>
          <div class="card-body"  style="background-color:white;">
           <input class="w-30" type="text" name="Coupon" placeholder="apply coupon" id="coupon" style="height: 40px;padding: 12px;" >
              <button class=" mt-3" type="button" style="background: #2577fd;width: 100px;border: unset;border-radius: 3px;height: 39px"  onclick="addCoupon('id')"> apply</button>
          </div>
         </div>
 

       
     








        {{else}}
        <h3> Cart doesn't have any item</h3>
 
    {{/if}}
    </div>
  </div>
</section>
<style>
    .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right,rgb(210 199 223), rgb(162 188 231));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(210 199 223), rgb(162 188 231))
}
</style>

<script>
  function changeQuantity(cartId, proId, userId, name, offerPrices, count) {
    console.log("ayayayooo")
    let quantity = parseInt(document.getElementById(proId).innerHTML)

    count = parseInt(count)
    console.log("ayyoo vannille")
    $.ajax({
      url: '/change-product-quantity',
      data: {
        user: userId,
        cart: cartId,
        product: proId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        console.log(response)
        console.log("haiiiii")
        if (response.removeProduct) {
          alert("Product removed from cart")
          location.reload()
        } else {
          if (response.total) {

            document.getElementById(name).innerHTML = offerPrices * (quantity + count)
            document.getElementById(proId).innerHTML = quantity + count

            document.getElementById('total').innerHTML = response.total

          } else {

            document.getElementById(name).innerHTML = offerPrices * (quantity + count)
            document.getElementById(proId).innerHTML = quantity + count

            document.getElementById('total').innerHTML = response.total
          }


        }
      }
    })
  }


  function removeItem(cartId, proId) {
    $.ajax({
      url: '/remove-item',
      data: {
        cart: cartId,
        product: proId
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
        Swal.fire(
  'Product deleted!',
  'You clicked the button!',
  'success'
).then(()=>{
                    location.reload()
                  })

         
        }
      }
    })
  }


  function addCoupon(id) {
  let data = document.getElementById("coupon").value
    $.ajax({
      url: '/add-coupon',
      method: 'post',
      data: { coupon: data },
    
      success: (response) => {
        console.log(response)
        if (response.INVALIDCOUPON) {
          alert("Coupon is Invalid")
          
        }
        else if (response.Alreadyusedcoupon) {
          alert("Coupon already used")
        }
        else {
          alert("Coupon applied successfully")
         
          location.reload()
        }
      }
    })

  }


</script>